body{
    align-items: center;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html{
    color:              #000000;
    font-family:        Muli;
    height:             100vh;
    line-height:        1.2em;
    width:              100vw;
}